h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.jogo{
    text-align: center;
}
.square{
    width: 100px;
    height: 100px;
    background-color: rgb(202, 188, 169);
    border: 1px solid black;
    display: inline-block;
}
.o{
    position: relative;
}
.o::after{
    position: absolute;
    content: "o";
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.x{
    position: relative;
}
.x::after{
    position: absolute;
    content: "x";
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}