body{
    background-color: rgb(0, 0, 0);
}
h1{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: white;
}
.jogo{
    text-align: center;
    
}
.square{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    display: inline-block;
}
.o{
    position: relative;
}
.o::after{
    position: absolute;
    content: "o"; 
    font-size: 60px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: red;
}
.x{
    position: relative;
}
.x::after{
    position: absolute;
    content: "x";
    font-size: 60px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: red;
}